<form action="../Home/Person" method="post">
    <label for="i">Search by Person</label>
    <input type="number" name="i" placeholder="PersonId" />
    <input type="submit" name="submit" value="Get Person" />

</form>
<form action="/" method="post">
    <label for="i">Search by Planet</label>
    <input type="number" name="i" placeholder="PlanetId" />
    <input type="submit" name="submit" value="Get Planet Id" />
</form>
